{
  "General": {
    "ShapePredictorPath": "shape_predictor_5_face_landmarks.dat",
    "DataDirectoryPath": "var/data",
    "StorageType": "MongoDB"
  },
  "Telegram": {
    "ApiKey": ""
  },
  "RabbitMq": {
    "Host": "127.0.0.1",
    "Port": 5672,
    "User": "guest",
    "Password": "guest"
  },
  "MongoDB": {
    "Host": "127.0.0.1",
    "Port": 27017,
    "User": "devel",
    "Password": "devel",
    "Database": "faceZoomBot"
  }
}