{
  "General": {
    "ShapePredictorPath": "shape_predictor_5_face_landmarks.dat",
    "DataDirectoryPath": "var/data"
  },
  "Telegram": {
    "ApiKey": ""
  },
  "RabbitMq": {
    "Ip": "127.0.0.1",
    "Port": 5672,
    "User": "",
    "Password": ""
  }
}